<div class= "content">
</div>

<div class="container body-container">
  <div class="container">
    <div class="panel panel-default feature-panel">
      <u><h1>Featured Film</h1></u>
      <h2><%= @featured.title %></h2>
      <h4>By: <%= @featured.director %></h4>
    </div>
  </div>
</div>

<div class="links">
<button class="waves-effect grey lighten-3 btn"><%= link_to "Sort Alphabetically", movies_path(order: 'title') %></button>
<button class="waves-effect grey lighten-3 btn"><%= link_to "Sort by Date Added", movies_path %></button>
</div>
  <div class="container body-container">
  <div class="container">
    <% @movies.each do |movie| %>
      <div class="panel panel-default">
        <div class="panel-title hover">
          <h1><%= link_to movie.title, movie_path(movie), :style=>'color: #fff;' %></h1>
          <h5>Directed By</h5>
          <h4><%= movie.director %></h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
